{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}

<style>


   
h1{

  position: relative;
   font-family: 'Raleway', sans-serif;
  font-weight:bold;

  display: grid;
  place-items: center;
}



</style>

{% endblock stylesheets %}

{% block content %}



<main id="intro" style="margin-top:150px;" >
  <div class="container-fluid "  >
    
     <div class="row "  >
        <div class="card-body text-center" >
           <h1 class='text-center' > EVENTS </h1>
          <hr style="width: 50%;">
          
           <h5 style="margin-top: 20px;">Enter your location and select a catergory to find events near you!</h5>
        </div>
       
        <div class="col-sm-8 offset-sm-2 card-body text-center" >
           <form role="form" method="post" action="">
              {% csrf_token %}      
              <div class="input-group">
                 {{ form.city }}
                 {{ form.state }}
                 <div class="input-group-append">
                    {{ form.category }}
                    <button id="search" class="btn btn-success" type="submit" >Search</button>
                 </div>
              </div>
              <div style="height:30px"></div>
              {% if nextButton and previousButton %} 
              {% csrf_token %}
              <button class="btn btn-info" id="prev" type="submit">Previous</button>
              <input type="hidden" name="num" value="{{num}}">
              <button  class="btn btn-info" id="next" type="submit">Next</button>
             
              {% elif nextButton %}
              <input type="hidden" name="num" value="{{num}}">
              <button class="btn btn-info" id="next" type="submit">Next</button>
              {% elif previousButton %}
              <input type="hidden" name="num" value="{{num}}">
              <button class="btn btn-info" id="prev" type="submit">Previous</button>
              {% endif %}
              <input id="type" type="hidden" name="type" value="">
              <input type="hidden" name="num" value="{{num}}">
           </form>
        </div>
        <div>
        </div>
        <div id="output" class="col-sm-8 offset-sm-2">
           <ul id = "events" class="list-group">
              {% for event in events %}
              <li class="list-group-item">
                 <div class="row">
                    <div class="col" style="height: 150px; width: 150px;"><img style='height: 100%; width: 100%; object-fit: contain' src={{event.image}} alt=""></div>
                    <div class="col-8">
                       <h3 id="title"><b>{{ event.title }}</b></h3>
                       <h5> <b>Location: </b> {{ event.location }} </h5>
                       <h5> <b> Date & Time: </b> {{ event.date }} </h5>
                       <a href="{{ event.link }}" >More Info</a>
                      
                       <a href="#" class="add_schedule btn btn-primary btn-sm"  data-event="{{event}}" style="float:right;">Add to Schedule</a>
                    </div>
                  </div>
                  
              </li>
              {% endfor %}
           </ul>
           {% if emptyList %}
           <div class="card-body text-center" >
           <h3>No Events Found</h3>
          </div>
           {% endif %}
         </div>
        </div>
     </div>
 
</main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script> 
  

$(document).ready(function(e) {   
  $('.add_schedule').on('click', function (e) {
    
    var data = $(this).data();
    $.ajax({              
     
        url: "{% url 'schedule_events' %}",                    
        data: {
            'event': data.event,   
        },
        error: function(){
              alert("Event Already Added");
        },
        success: function (data) {
          
            alert("Event Successfully Added to Your Schedule");
               
         
        },
         
    })
    
});
 }); 
 
 $('#prev').click(function(){
    $('#type').val('prev');
    
});

$('#next').click(function(){
    $('#type').val('next');
});

$('#search').click(function(){
    $('#type').val('search');
   
});

  </script>
 


{% endblock content %}
{% block javascript %} 
{% endblock %}


 
