{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




<div class="container">

  

  <div class="row">
    
    <div class="col-sm-8 offset-sm-2">
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1 class='text-center'> Event List </h1>
       
      <form role="form" method="post" action="">
        {% csrf_token %}      
      <div class="input-group">
        {{ form.city }}
        {{ form.state }}
        
        <div class="input-group-append">
                {{ form.category }}
                
            <button class="btn btn-success" type="submit" >Search</button>
            
             
        </div>
    </div>
     </form>

</div>
<div>



  
</div>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
 
<div class="col-sm-8 offset-sm-2">

  <ul id = "events" class="list-group">
    {% for event in events %}
    
    <li class="list-group-item">
      <div class="row">
      <div class="col" style="height: 150px; width: 150px;"><img style='height: 100%; width: 100%; object-fit: contain' src={{event.image}} alt=""></div>
      <div class="col-8"><h2 id="title">{{ event.title }}</h2>
        <h5> Location: {{ event.location }} </h5>
        <h5> Time: {{ event.date }} </h5>
        <input type="text" required="" name="username" maxlength="150" id="id_username" autofocus="">
      <h5> Link to Register For Tickets: {{ event.link }} </h5>
      <a class="likebutton btn btn-primary btn-lg" id="like" href="#" data-catid="{{ event.title }}">Like</a>
      <a href="#" class="catgend"  data-event="{{event}}" >Add to Schedule</a>
    </div>
     
    
    
    
    </li>
    {% endfor %}
  </ul>

</div>

<!--   
  {% if events.has_other_pages %}
    <ul class="pagination">
      {% if events.has_previous %}
        <li><a href="?page={{ events.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in events.paginator.page_range %}
        {% if events.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if events.has_next %}
        <li><a href="?page={{ events.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %} -->

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script> 
  
$(document).ready(function(e) {   
  $('.catgend').on('click', function (e) {
    console.log("INSIDE CAT GEND");
    var data = $(this).data();
    console.log(data);
    $.ajax({              
     
        url: "{% url 'schedule_events' %}",                    
        data: {
            'event': data.event,   
        },
        success: function (data) {   
          alert("Event Successfully Added to Your Schedule");
        }
    });
    
});
 }); 
  
 
  
 

  
  // $(document).ready(function(){
  
  // $(".btn").click(function(){
  //     console.log("inside here")
  //     $.ajax({
  //         url:'',
  //         type:'GET',
  //         data:{
  
  //             button_text: $(this).text();
  //         },
  //         success: function(response){
  //             $(".btn").text(response.seconds);
  
  //         }
  //     });
  // });
  
  // });
  </script>
 


{% endblock content %}
{% block javascript %} 
{% endblock %}


 
