{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- <main id="intro"  style="
       
      height: 150px;
    ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)"></div>
</main> -->

<main id="intro" style="margin-top:150px;" >
  <div class="container-fluid"  >  

<!-- <div class="container"> -->

  

  <div class="row">
    
    <div class="col-sm-8 offset-sm-2">
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1 class='text-center'> Event List </h1>
      
       
      <form role="form" method="post" action="">
        {% csrf_token %}      
      <div class="input-group">
        {{ form.city }}
        {{ form.state }}
        
        <div class="input-group-append">
                {{ form.category }}
                
            <button id="search" class="btn btn-success" type="submit" >Search</button>
            
             
        </div>
    </div>
     
    {% if nextButton and previousButton %} 
    {% csrf_token %}
   
      <button id="prev" type="submit">Previous</button>
      <input type="hidden" name="num" value="{{num}}">
      <button id="next" type="submit">Next</button>
    
    <!-- <input type="hidden" name="num" value="{{num}}">
    <button id="next" type="submit">Next</button> -->

    {% elif nextButton %}
   
    <input type="hidden" name="num" value="{{num}}">
    <button id="next" type="submit">Next</button>
  
    {% elif previousButton %}
    <input type="hidden" name="num" value="{{num}}">
    <button id="prev" type="submit">Previous</button>
  

    
 
    {% endif %}
    <input id="type" type="hidden" name="type" value="">
    <input type="hidden" name="num" value="{{num}}">
     </form>
    

</div>
<div>



  
</div>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
 
<div id="output" class="col-sm-8 offset-sm-2">
  

  <ul id = "events" class="list-group">
    {% for event in events %}
    
    <li class="list-group-item">
      <div class="row">
      <div class="col" style="height: 150px; width: 150px;"><img style='height: 100%; width: 100%; object-fit: contain' src={{event.image}} alt=""></div>
      <div class="col-8"><h2 id="title">{{ event.title }}</h2>
        <h5> Location: {{ event.location }} </h5>
        <h5> Date & Time: {{ event.date }} </h5>
        
      <h5> Link to Register For Tickets: {{ event.link }} </h5>
      
      <a href="#" class="catgend"  data-event="{{event}}" >Add to Schedule</a>
    </div>
     
    
    
    
    </li>
    
    {% endfor %}
  </ul>
  {% if emptyList %}
            <p>No Events Found</p>
    {% endif %}

</div>

 

    </div>
  <!-- </div> -->
  </div>
</main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script> 
  
//   $.ajax({
//     url: url, 
//     success: function (data) {
//         // Handle success here
//         $('#editor-content-container').html(data);
//         $('#editor-container').modal('show');
//     },
//     cache: false
// }).fail(function (jqXHR, textStatus, error) {
//     // Handle error here
//     $('#editor-content-container').html(jqXHR.responseText);
//     $('#editor-container').modal('show');
// });

$(document).ready(function(e) {   
  $('.catgend').on('click', function (e) {
    console.log("INSIDE CAT GEND");
    var data = $(this).data();
    console.log(data);
    $.ajax({              
     
        url: "{% url 'schedule_events' %}",                    
        data: {
            'event': data.event,   
        },
        error: function(){
              alert("Event Already Added");
        },
        success: function (data) {
          if(data == "error"){
            alert("Event Already Added");
               }
               else{
                alert("Event Successfully Added to Your Schedule");
                }
               
         
        },
         
    })
    
});
 }); 
 
 $('#prev').click(function(){
    $('#type').val('prev');
    
});

$('#next').click(function(){
    $('#type').val('next');
});

$('#search').click(function(){
    $('#type').val('search');
   // $("#output").css({'overflow-y': 'scroll', 'height': '920px',});
    // console.log("In search")
});

  
 
  
 

  
  // $(document).ready(function(){
  
  // $(".btn").click(function(){
  //     console.log("inside here")
  //     $.ajax({
  //         url:'',
  //         type:'GET',
  //         data:{
  
  //             button_text: $(this).text();
  //         },
  //         success: function(response){
  //             $(".btn").text(response.seconds);
  
  //         }
  //     });
  // });
  
  // });
  </script>
 


{% endblock content %}
{% block javascript %} 
{% endblock %}


 
