
  <div class="container "style="height: 50px; align-items: center;">
    <div class="row" style="height: 50px;">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  shadow  my-3 py-2 start-0 end-0 mx-4" style="  margin: 0 auto; ">
          <div class="container-fluid" style="align-items: center;">
            <a class="navbar-brand font-weight-bolder ms-sm-3" 
               href="/" rel="tooltip" title="" data-placement="bottom">
             CivicCit
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100" style="align-items: center;">
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a href="{% url 'events' %}"
                      
                     class="btn btn-sm  bg-gradient-primary btn-round mb-0 me-1 mt-2 mt-md-0">Events</a>
                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a href="{% url 'scheduling' %}"
                      
                     class="btn btn-sm  bg-gradient-primary btn-round mb-0 me-1 mt-2 mt-md-0">Schedule</a>
                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a href="{% url 'infohub' %}"
                     
                     class="btn btn-sm  bg-gradient-primary btn-round mb-0 me-1 mt-2 mt-md-0">Information Hub</a>
                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a href="{% url 'progress_report' %}"
                     
                     class="btn btn-sm  bg-gradient-primary btn-round mb-0 me-1 mt-2 mt-md-0">Progress Report</a>
                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a href="{% url 'quiz' %}"
                     
                     class="btn btn-sm  bg-gradient-primary btn-round mb-0 me-1 mt-2 mt-md-0">Quiz</a>
                </li>
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
               
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>