{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}
<style>


   
    h1{
    
      position: relative;
       font-family: 'Raleway', sans-serif;
      font-weight:bold;
    
      display: grid;
      place-items: center;
    }
    
    
    
    </style>
{% endblock stylesheets %}

{% block content %}


<!-- Political Involvement -->


    <main id="intro" style="margin-top:150px;" >
        <div class="container-fluid"  > 
<center>
    <h1 class='text-center' > POLITICAL INVOLVEMENT </h1>
    <hr style="width: 50%;">

<div class = "row">
    
    {% for article in articles %}
        <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto">
            <!-- {{article.image_url}} -->
            {% if article.urlToImage == None %}
            <img src="https://erc.europa.eu/sites/default/files/styles/stories_detail_page/public/stories/images/hands-elections_0.jpg?itok=TefUi_oy" class="card-img-top" >
            {% else %}
            <img src="{{ article.urlToImage }}" class="card-img-top" >
            {% endif %}

            <div class="card-body">
            <div style="display: flex; flex-direction: row">
                <h5 class="card-title" style = "font-size:15px; text-align: left;">{{ article.title }}</h5>
                <!-- <br> -->
                <!-- <br> -->
                
                <!-- <div style="
                width: 30px;
                height: 20px;
                margin-left: 10px;
                border-radius: 50%;
                "></div> -->
            </div>
            {% if article.author == None %}
            <h5 class="card-title" style = "font-size:15px; text-align: left;"> Source: N/A</h5>
            {% else %}
            <h5 class="card-title" style = "font-size:15px; text-align: left;"> Source: {{ article.source.name }}</h5>
            {% endif %}
            <!-- <p class="card-text">{{ card.description }}</p> -->
            <!-- <form method = POST action="{{article.ink}}"> -->
                <!-- {% csrf_token %} -->
                <a href="{{article.url}}" class="appendlink btn btn-primary" id = "linkbutton" data-articlelink="{{article.url}}" data-article="{{article.title}}">Link</a>
            <!-- <input type="hidden" class = "form-control" id="urlLink" value="{{article.link}}" name="urlLink"> -->
            <!-- <input type="hidden" class = "form-control" id="user" value="{{user.username}}" name="user"> -->
            <!-- <a href="#" id="button" class="button">View </a> -->
            </form>
            <!-- <div class="bg-modal"> -->
                <!-- <div class="modal-contents"> -->
                    <!-- <div class="close">+</div> -->
                    <!-- {% if article.image_url == None %}
                    <img src="https://erc.europa.eu/sites/default/files/styles/stories_detail_page/public/stories/images/hands-elections_0.jpg?itok=TefUi_oy">
                    {% else %}
                    <img src="{{ article.image_url }}">
                    {% endif %} -->
                    <!-- yo {{ article.title }} -->
                <!-- </div> -->
            <!-- </div> -->
            <!-- <a href="/command/{{ card.id }}/delete" class="btn btn-primary">Delete</a> -->
            </div>
        </div>
        <!-- <h5> {{article.title}} </h5> -->

    {% endfor %}
</div>




</center>
        </div></main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script> 

$(document).ready(function(e) {   
    $('.appendlink').on('click', function (e) {
        console.log("INSIDE APPEND LINK");
        var dict = {};
         
        var data = $(this).data();
        
        console.log(data);
     
        $.ajax({              
        
            url: "{% url 'add_user' %}",                    
            data: {
                'article': data
            },
            success: function (data) {   
            
            }
            });
        
        });
    });
    // const cbox = document.querySelectorAll('.button');
    // const dbox = document.querySelectorAll('.close');

    // for(i=0; i > cbox.length; i++){
    //     cbox[i].addEventListener('click', function(){
    //     document.querySelector('.bg-modal').style.display = "flex";
    //     });
    // }

    // $('bg-modal').css('display', 'block');

    // for(i=0; i > cbox.length; i++){
    //     dbox[i].addEventListener('click', function(){
    //     document.querySelector('.bg-modal').style.display = "none";
    //     });
    // }
    // console.log(cbox[0])



    // document.getElementById('button').addEventListener("click", function() {
    //     document.querySelector('.bg-modal').style.display = "flex";
    // });

    // document.querySelector('.close').addEventListener("click", function() {
    //     document.querySelector('.bg-modal').style.display = "none";
    // });

</script>

{% endblock content %}
{% block javascript %} 
{% endblock %}

