{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Political Involvement -->


    <br>

<center>

<h1> Political Involvement </h1>
<div class = "row">
    
    {% for article in articles %}
        <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto">
            <!-- {{article.image_url}} -->
            {% if article.image_url == None %}
            <img src="https://erc.europa.eu/sites/default/files/styles/stories_detail_page/public/stories/images/hands-elections_0.jpg?itok=TefUi_oy" class="card-img-top" >
            {% else %}
            <img src="{{ article.image_url }}" class="card-img-top" >
            {% endif %}

            <div class="card-body">
            <div style="display: flex; flex-direction: row">
                <h5 class="card-title" style = "font-size:15px; text-align: left;">{{ article.title }}</h5>
                <br>
                
                <!-- <div style="
                width: 30px;
                height: 20px;
                margin-left: 10px;
                border-radius: 50%;
                "></div> -->
            </div>
            {% if article.creator.0 == None %}
            <h5 class="card-title" style = "font-size:15px; text-align: left;"> Author: N/A</h5>
            {% else %}
            <h5 class="card-title" style = "font-size:15px; text-align: left;"> Author: {{ article.creator.0 }}</h5>
            {% endif %}
            <!-- <p class="card-text">{{ card.description }}</p> -->
            <a href="{{ article.link }}" class="btn btn-primary">Link</a>
            <!-- <a href="/command/{{ card.id }}/delete" class="btn btn-primary">Delete</a> -->
            </div>
        </div>
        <!-- <h5> {{article.title}} </h5> -->

    {% endfor %}
</div>>

{% endblock content %}

</center>

{% block javascripts %}{% endblock javascripts %}
