{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




<div class="container">

  

  <div class="row">
    
    <div class="col-sm-8 offset-sm-2">
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1 class='text-center'> Schedule </h1>

     

</div>
<div>



  
</div>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
  
</div>
<div class="container p-4">
  <div class="row">
    {% for e in events %}
    <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
      <div class="card h-100 p-4">
        <h4>{{e.event_name}}</h4>
        <h4>{{e.event_location}}</h4>
        <h4>{{e.event_date}}</h4>
        <h4>{{e.event_link}}</h4>
      
        <a href="{% url 'delete_event' e.id %}" class="btn btn-outline-danger btn-sm" >Remove Event</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
 
  
 </div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script> 
 
$(document).ready(function(e) {   
 $('.deleteEvent').on('click', function (e) {
   console.log("INSIDE CAT GEND");
   var data = $(this).data();
   console.log(data);
   $.ajax({              
    
       url: "{% url 'delete_event' %}",
       type:'POST',                    
       data: {
           'event': data.event,   
       },
       success: function (data) {   
         alert("Event Successfully Removed From Your Schedule");
       }
   });
   
});
}); 
</script>
   
 


{% endblock content %}
{% block javascript %} 
{% endblock %}


 
