 
{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}
<link href="{% static 'calender/main.css' %}" rel="stylesheet" />
<style type="text/css">
  #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
  }
  .cnt223 a{
  text-decoration: none;
  }
  .popup{
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
  }
  .cnt223{
  min-width: 600px;
  width: 600px;
  min-height: 150px;
  margin: 100px auto;
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
  }
  .cnt223 p{
  clear: both;
      color: #555555;
      font-size: 20px;
      font-family: sans-serif;
  }
  .cnt223 p a{
  color: #d91900;
  font-weight: bold;
  }
  .cnt223 .x{
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
  }
  .cnt223 .x:hover{
  cursor: pointer;
  }
 


   
h1{

  position: relative;
   font-family: 'Raleway', sans-serif;
  font-weight:bold;


  place-items: center;
}




  </style>

{% endblock stylesheets %}

{% block content %}


<main id="intro" style="margin-top:150px;" >
  <div class="container"  > 
 
  {% if eventRemoved %}

  <div class='popup'>
    <div class='cnt223'>
        <h1>Event Successfully Remove</h1>
            <p>
          Please visit the registration link for further instructions:

            <br/>
            <br/>
            <a href="{{eventUrlRemoved}}">Link</a>
            <a href='' class='close'>Close</a>
            </p>
        </div>
    </div>
    {% endif %}

  

  <div class="row">
    
    <div class="col-sm-8 offset-sm-2">
    
      <h1 class='text-center' > SCHEDULE </h1>
          <hr style="width: 100%;">

     

       </div>
     
</div>
<div class="row">  
  <div class="col-md-12">
    <div class="tile row">
      <div class="col-md-3">
      
      <ul  class="nav nav-tabs">
   
        <li class="active nav-item">
          <a  href="#1a" class="nav-link active" data-toggle="tab">Upcoming</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#2a" data-toggle="tab">Past</a>
        </li>
         
      </ul>
      
  
        <div class="tab-content clearfix">
          <div class="tab-pane active" id="1a">
            
              <div style="overflow-y: scroll;height: 600px" id="external-events">
                  
                  
                  {% for event in events %}
                  
                    {% if event.start > dateTime %}
                    <h1>  </h1>
                    <div class="fc-event" >
                      {% if event.event_status == "True" %}
                        <span class="badge badge-success">REGISTERED</span>
                         
                      {% else %}
                      <span class="badge badge-warning">NOT REGISTERED</span>
                         {% endif %}
                         
                        
                        <h4><b>{{ event.event_name }}</b></h4>
                        <p style="color:rgb(17, 17, 70);" > <b>Location: </b>{{ event.event_location }}</p>
                        <p style="color:rgb(20, 20, 80);" ><b>Date: </b>{{ event.event_date }}</p>
                        <a href="{{ event.event_link }}" class="appendlink btn btn-outline-info btn-sm" id = "linkbutton" data-eventid="{{event.id}}" data-url="{{event.event_link}}">Register Event</a>
                        <a href="{% url 'delete_event' event.id %}" class="deleteEvent btn btn-outline-danger btn-sm "  data-url="{{event.event_link}}" >Remove Event</a>
                    </div>
                  
                    {% endif %}
                  {% empty %}
                    <p>No Events Found</p>
                  {% endfor %}
              </div>
          </div>
          
          <div class="tab-pane" id="2a">
           
              <div style="overflow-y: scroll;height: 500px" id="external-events">
                 
                  {% for event in events %}
                    {% if event.start < dateTime %}
                    <h1>  </h1>
                    <div class="fc-event" >
                      {% if event.event_status == "True" %}
                        <span  style="margin-left: 250px" class="badge badge-success">REGISTERED</span>
                         
                      {% else %}
                      <span class="badge badge-warning">NOT REGISTERED</span>
                         {% endif %}
                         
                        
                        <h4><b>{{ event.event_name }}</b></h4>
                        <p style="color:rgb(17, 17, 70);" > <b>Location: </b>{{ event.event_location }}</p>
                        <p style="color:rgb(20, 20, 80);" ><b>Date: </b>{{ event.event_date }}</p>
                        <a href="{{ event.event_link }}" class="appendlink btn btn-outline-info btn-sm" id = "linkbutton" data-eventid="{{event.id}}" data-url="{{event.event_link}}">Register Event</a>
                        <a href="{% url 'delete_event' event.id %}" class="deleteEvent btn btn-outline-danger btn-sm "  data-url="{{event.event_link}}" >Remove Event</a>
                    </div>
                    {% endif %}
                  {% empty %}
                    <p>No Events Found</p>
                  {% endfor %}
              </div>
          </div>
          </div>
     

  
</div>
   
          
          <div class="col-md-9">
              <div id="calendar"></div>
          </div>
          </div>
    
  </div>
 
</div>



 
  
 </div>
 </main>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
 
   
      {% endblock content %}
      {% block javascripts %}
      
<script src="{% static 'calender/main.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var today = new Date();
      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
        },
        initialDate: today,
        navLinks: true,
        selectable: true,
        selectMirror: true,
        select: function(arg) {
          console.log('clicked')
          var modal = document.getElementById('eventModal')
          modal.style.display = 'block'
          calendar.unselect()
        },
         
        timeZone: 'UTC',
        editable: true,
        dayMaxEvents: true, 
        events: {{ events|safe }},
         
      });

      calendar.render();
       
    });

     
     

</script>
    <script> 
    
$(document).ready(function(e) {   
    $('.appendlink').on('click', function (e) {
        
        var dict = {};
         
        var data = $(this).data();
        
        
     
        $.ajax({              
        
            url: "{% url 'register_event' %}",                    
            data: {
                'event': data
            },
            success: function (data) {   
            
            }
            });
        
        });
    });



</script>
<script type='text/javascript'>
  $(function(){
  var overlay = $('<div id="overlay"></div>');
  overlay.show();
  overlay.appendTo(document.body);
  $('.popup').show();
  $('.close').click(function(){
  $('.popup').hide();
  overlay.appendTo(document.body).remove();
  return false;
  });
  
  
   
  
  $('.x').click(function(){
  $('.popup').hide();
  overlay.appendTo(document.body).remove();
  return false;
  });
  });
  </script>

      
      
      
      {% endblock javascripts %}

 
  
  



 
