{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




<div class="container">

  

  <div class="row">
    
    <div class="col-sm-8 offset-sm-2">
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1> </h1>
      <h1 class='text-center'> Schedule </h1>
     

</div>
<div>



  
</div>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
  
</div>
 
  
 
   
 


{% endblock content %}
{% block javascript %} 
{% endblock %}


 
