{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}

<style>
    .navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}


h1{
    
    position: relative;
     font-family: 'Raleway', sans-serif;
    font-weight:bold;
  
  
  }
            
  ol {
  counter-reset: li; 
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  color: rgb(0, 0, 0);
}

ol a {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: #D3D4DA;
  color: rgb(5, 2, 2);
  text-decoration: none;
  transition: all .3s ease-out;
}

ol a:hover {background: #DCDDE1;}       
ol a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #f9dd94;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

ol a:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

ol a:hover:after {
  left: -.5em;
  border-left-color: #f9dd94;
}

  
</style>

{% endblock stylesheets %}

{% block content %}
<main id="intro" style="margin-top:150px;" >
    <div class="container"  > 
        <div class="jumbotron p-3 p-md-5  rounded row justify-content-start">
            <div class="col-6 " style="margin-top: 20px;">
                <h1 class="display-4 "> Welcome to CivicCit</h1>
                 <p class="lead my-3"><b>CivicCit is a digital platform for young adults who wish to be more civically
                     involved in social issues that they are passionate about. </b></p>
                    
 
             </div>
            <div class="col-6 text-center">
            
              {% load static %}
              
              {% load static %}
                <img  src="{% static 'images/LandingPageLogo.png' %}" height="315" />
              
               
               
            </div>
            
          </div>
        
          <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Civic Engagement</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Our Features</a>
                    </li>
                    
                  </ul>
            </div>
            <div class="card-body">
            
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                      
                              <h5 class="card-title">Why is this important?</h5>
                              <p class="card-text">At CivicCit we believe civic engagement increases emotional intelligence and motivates individuals towards conscientious community action 

                                We aim to have individuals work on their ability to collaborate across diverse perspectives and positively impact communities
                                
                                </p>
                             
                            
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <h5 class="card-title">Our 5 Features</h5>
                        <p class="card-text">Our application provides five features which include: a civic events system, a civic quiz system, a 
                            scheduling system, a progress report system, and a civic information hub system. </p>
                            <ol class="text-left">
                              <li><a> The events system will allow users to search and add events based on civic oriented categories and their location. 
                              </a> </li>
                           <li> <a >  The civic information hub system will allow users to read information about a topic from credible sources.
                           </a></li> 
                           <li><a >The progress reporting system will track a user’s civic participation. </a> </li>
                            <li><a> The scheduling system will allow users to view events that they added to their schedule. 
                               </a> </li>
                                <li><a>The civic quiz system will allow users to test on their knowledge of various civic topics. These quizzes are nothing more than a fun engaging activity.</a></li>
                            </ol> 
                    </div>
                    
                  </div>
            </div>
            <div class="card-footer text-muted">
              
            </div>
          </div>
    
    </div>
</main>

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
