{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<center>

    <br>
    <br>

<h1>Community Service Quiz</h1>

    <br>

<form method="POST", action="/quiz/">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name = "community_submit">Submit Quiz</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</form>

</center>

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}