{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<center>

    <br>
    <br>

<h1>Political Involvement Quiz</h1>

    <br>

<form method="POST", action="/quiz/">
    {% csrf_token %}

    {% for q in questions %}
    {% if q.category == 'P' %}
    <h5>{{q.question}}</h5>
    <p>{{q.op1}}</p>
    <p>{{q.op2}}</p>
    <p>{{q.op3}}</p>
    <p>{{q.op4}}</p>
    <br>
    <br>
    {% endif %}
    {% endfor %}
    <button type="submit" name = "political_submit">Submit Quiz</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</form>

</center>

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}