{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<center>

    <br>
    <br>

<h1>Social Responsibility Quiz</h1>

    <br>

<form method="POST", action="/quiz/">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="Submit" name="Submit Social" value="Submit"/>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</form>

</center>

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}