{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main id="intro" style="margin-top:150px;" >
    <div class="container-fluid"  > 

<center>

    <br>
    <br>

<h1>Quiz Category</h1>

    <br>

<!-- Political Involvement -->
<form method="POST", action="/political_involvement/">
    {% csrf_token %}
    <button type="submit">Political Involvement</button>
</form>

<br>

<!-- social responsibility -->
<form method="POST", action="/social_responsibility/">
    {% csrf_token %}
    <button type="submit">Social Responsibility</button>
</form>

<br>

<!--  advocacy & education -->
<form method="POST", action="/community_service/">
    {% csrf_token %}
    <button type="submit">Community Service</button>
</form>

<br>
<br>

<form method="POST", action="/quizhome/">
    {% csrf_token %}
    <h1>Results</h1>
    <br>

    <table style=" border: 1px solid;">
        <tr style=" border: 1px solid;padding: 20px;">
          <th style=" border: 1px solid;padding: 10px;">Category</th>
          <th style=" border: 1px solid;padding: 10px;">Number of Questions Right</th>
          <th style=" border: 1px solid;padding: 10px;">Total Number of Questions</th>
          <th style=" border: 1px solid;padding: 10px;">Percentage</th>
        </tr>
        {% for data in results %}
        <tr style=" border: 1px solid;padding: 20px;">
            {% if data.category == 'P' %}
            <th style=" border: 1px solid;padding: 10px;">Political Involvement</th>
            {% endif %}
            {% if data.category == 'S' %}
            <th style=" border: 1px solid;padding: 10px;">Social Responsibility</th>
            {% endif %}
            {% if data.category == 'C' %}
            <th style=" border: 1px solid;padding: 10px;">Community Service</th>
            {% endif %}
            {% if data.completed == False %}
            <th style=" border: 1px solid;padding: 10px;">Not Attempted</th>
            {% else %}
            <th style=" border: 1px solid;padding: 10px;">{{data.numRight}}</th>
            {% endif %}
            <th style=" border: 1px solid;padding: 10px;">{{data.totalQuestions}}</th>
            {% if data.completed == False %}
            <th style=" border: 1px solid;padding: 10px;">Not Attempted</th>
            {% else %}
            <th style=" border: 1px solid;padding: 10px;">{{data.percent}}%</th>
            {% endif %}
        </tr>
        {% endfor %}
      </table>

</form>

</center>

    </div></main>

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
