{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<center>

    <br>

<h1>Civic Engagement Quizzes</h1>

<!-- Political Involvement -->
<form method="POST", action="/politics/">
    {% csrf_token %}
    <button type="submit">Political Involvement</button>
</form>

<!-- social responsibility -->
<form method="POST", action="/social_resp/">
    {% csrf_token %}
    <button type="submit">Social Responsibility</button>
</form>

<!--  advocacy & education -->
<form method="POST", action="/service/">
    {% csrf_token %}
    <button type="submit">Community Service</button>
</form>

</center>

{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
