{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main id="intro" style="margin-top:150px;" >
    <div class="container-fluid"  > 
<center>

    <br>
    <br>

<h1>Social Responsibility Quiz</h1>

    <br>

<form method="POST", action="/quiz/">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="Submit" name="Submit Social" value="Submit"/>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</form>

</center>
    </div></main>
{% endblock content %}


{% block javascripts %}{% endblock javascripts %}